[submodule "02_opengl_the-cherno/vendor/glfw"]
	path = 02_opengl_the-cherno/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "02_opengl_the-cherno/vendor/glew"]
	path = 02_opengl_the-cherno/vendor/glew
	url = https://github.com/Perlmint/glew-cmake
