.premake/
premake5.lua.user

bin/
bin-int/
build/
obj/
ipch/

*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.pdb
*.ilk
*.exp

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

Makefile
*.make

*.xcodeproj/
*.xcworkspace/
